/* shared styles */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    padding: 20px 22px;
    border: 0;
background: #FF900E;
margin: 20px;
color: #FFF;
font-size: 1.2rem;
}
/* header design */

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
nav>ul{
    display: flex;
    
}
li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.header-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
/* banner-style */
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.bannner-des{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    width: 100%
}
/* responsiveness */
/* for mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
}
/* for tablet */
@media screen   and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.team-container{
     display: flex;
     align-items: center;
     margin-top: 100px;
}
.team-img-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title .quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 700px;
}
.of-our{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700px;
}
.features{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700px;
}